<div class="menu-container">
  <div class="menu">

          <a href="#" class="logo">
            <img srcset="../../assets/images/logo.svg" alt/>
            <div>DESIGN ACCESS PROGRAM</div>
          </a>

          <ul class="clearfix">
            <li>
              <form class="nosubmit">
                <input class="nosubmit" type="search" placeholder="SEARCH FOR PARTS">
              </form>
            </li>
            <li><a href="#" class="active">CUSTOMERS <span class="chevron right"></span></a></li>
            <li><a href="#">COSTS <span class="chevron right"></span></a></li>
            <li><a href="#">REPORTS <span class="chevron right"></span></a></li>
            <li><a href="#">SETTINGS <span class="chevron right"></span></a></li>
            <li><a href="#">HELPS <span class="chevron right"></span></a></li>
            <li><a href="#">SHOPPING <span class="chevron right"></span></a></li>
            <li><a href="#"><strong>CUTBANK CREDIT</strong> <span><strong>200</strong> <i class="arrow down"></i></span></a></li>
            <li>
              <div class="oval">
              <div class="circle">
                <div class="pin"></div>
              </div>
              <div>
                <div class="text-right">
                  <span class="greeting">JOHN PAGES</span>
                  <span><a href="#">LOGOUT</a></span>
                </div>
                <div class="avatar">
                  &nbsp;
                </div>
                <div class="alert">4</div>
              </div>
            </div>
          </li>
          </ul>








  </div>
</div>



<!-- <div class="container-fluid">
  <div class="row">
    <div class="col-xl">

      <mat-toolbar fxLayout="row">
        <span fxFlex>
          <a href="#" class="logo">
          <div>DESIGN ACCESS PROGRAM</div>
        </a>
        </span>
        <form class="nosubmit">
          <input class="nosubmit" type="search" placeholder="SEARCH FOR PARTS">
        </form>
        <button mat-button *ngFor="let item of menuItems" fxHide.xs>
            {{item.label}}
        </button>
        <div>
          <div><a href="#">CUTBANK CREDIT <span>200 <i class="arrow down"></i></span></a></div>
          <div>
            <div>
              <div class="pin"></div>
              <span>JOHN PAGES</span>
              <span><a href="#">LOGOUT</a></span>
              <img src="#" alt="" />
            </div>
          </div>
        </div>
        <button mat-icon-button [matMenuTriggerFor]="dropMenu" fxHide fxShow.xs>
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #dropMenu="matMenu">
            <ng-container *ngFor="let item of menuItems">
                <button mat-menu-item>
                    {{item.label}}
                </button>
                <mat-divider></mat-divider>
            </ng-container>
        </mat-menu>
      </mat-toolbar>

    </div>
  </div>
</div>
 -->

