<div class="row video">
  <div class="col-xl-12">
    <a href="#">
      <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
          <img class="cct-media-image" alt="" src="https://cf-images.us-east-1.prod.boltdns.net/v1/static/5776687555001/b90200f3-ef0e-4148-9e60-92ae3d61656e/32c42ac7-05fa-4b57-b51d-0cfbce8413a1/1280x720/match/image.jpg">
          <i class="fa fa-play-circle-o"></i>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
          <h6><strong>Align Film and Pinch Roller</strong></h6>
          <p>lorem ipsum dolor sit amet cons adipiscing elit sed do eiusmod incididunt</p>
        </div>
      </div>
    </a>
  </div>
</div>

<div class="row video">
  <div class="col-xl-12">
    <a href="#">
      <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
          <img class="cct-media-image" alt="" src="https://cf-images.us-east-1.prod.boltdns.net/v1/static/5776687555001/b90200f3-ef0e-4148-9e60-92ae3d61656e/32c42ac7-05fa-4b57-b51d-0cfbce8413a1/1280x720/match/image.jpg">
          <i class="fa fa-play-circle-o"></i>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
          <h6><strong>Align Film and Pinch Roller</strong></h6>
          <p>lorem ipsum dolor sit amet cons adipiscing elit sed do eiusmod incididunt</p>
        </div>
      </div>
    </a>
  </div>
</div>


<div class="row video">
  <div class="col-xl-12">
    <a href="#">
      <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
          <img class="cct-media-image" alt="" src="https://cf-images.us-east-1.prod.boltdns.net/v1/static/5776687555001/b90200f3-ef0e-4148-9e60-92ae3d61656e/32c42ac7-05fa-4b57-b51d-0cfbce8413a1/1280x720/match/image.jpg">
          <i class="fa fa-play-circle-o"></i>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
          <h6><strong>Align Film and Pinch Roller</strong></h6>
          <p>lorem ipsum dolor sit amet cons adipiscing elit sed do eiusmod incididunt</p>
        </div>
      </div>
    </a>
  </div>
</div>


<div class="row video">
  <div class="col-xl-12">
    <a href="#">
      <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
          <img class="cct-media-image" alt="" src="https://cf-images.us-east-1.prod.boltdns.net/v1/static/5776687555001/b90200f3-ef0e-4148-9e60-92ae3d61656e/32c42ac7-05fa-4b57-b51d-0cfbce8413a1/1280x720/match/image.jpg">
          <i class="fa fa-play-circle-o"></i>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
          <h6><strong>Align Film and Pinch Roller</strong></h6>
          <p>lorem ipsum dolor sit amet cons adipiscing elit sed do eiusmod incididunt</p>
        </div>
      </div>
    </a>
  </div>
</div>
