<carousel [cellsToShow]="3" [arrowsOutside]="true" [cellWidth]="200">
  <div class="carousel-cell">
    <div>
      <p><strong>SAVED PATTERNS</strong></p>
    </div>
    <div class="content-height">
      <div>
        <i class="fa fa-play-circle-o"></i>
        <span>lorem ipsum dolor sit amet</span>
      </div>
      <div>
        <i class="fa fa-play-circle-o"></i>
        <span>lorem ipsum dolor sit amet</span>
      </div>
      <div>
        <i class="fa fa-play-circle-o"></i>
        <span>lorem ipsum dolor sit amet</span>
      </div>
    </div>
    <p>
      <a href="#">
        MORE
        </a>
    </p>
  </div>

  <div class="carousel-cell">
    <div class="two-col">
      <p><strong>NEW KITS</strong></p>
      <div class="box1 sb8">New 23</div>
    </div>
    <div class="content-height">
      <div>
        <i class="fa fa-play-circle-o"></i>
        <span>lorem ipsum dolor sit amet</span>
      </div>
      <div>
        <i class="fa fa-play-circle-o"></i>
        <span>lorem ipsum dolor sit amet</span>
      </div>
    </div>
    <p>
      <a href="#">
      MORE
      </a>
    </p>
  </div>

  <div class="carousel-cell">
    <div class="two-col">
      <p class="nowrap"><strong>DESIGN REQUESTS</strong></p>
      <div class="box1 sb8">New 43</div>
    </div>
    <div class="content-height">
      <div>
        <i class="fa fa-play-circle-o"></i>
        <span>lorem ipsum dolor sit amet</span>
      </div>
      <div>
        <i class="fa fa-play-circle-o"></i>
        <span>lorem ipsum dolor sit amet</span>
      </div>
    </div>

    <p>
      <a href="#">
        MORE
        </a>
    </p>
  </div>
</carousel>



